<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
   <title>EY Validator</title>
</head>

<body>
    <div class="upperbar">
    </div>

    <div class="container firstpage">
       <div class="logobox">
			<img id="logo" src="../static/img/eylogo.png"/>
		<h1>
			Validator
		</h1>
	   </div> 
        <h3><em>Checks the numbers for you</em></h3>
        <form action="/upload" method="post" enctype=multipart/form-data >
            <input type="file" name="the_file" value="Select File" class="btnfile" title=" " required>
            </br>
            <label>Pagenumber: </label>
            <input type="number" class="pag" name="pagenum" value="1" required></br>
            <input type="submit" value="Upload File" name="submit" class="btn">
        </form>
    </div>
</body>
</html>