<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/imgareaselect-default.css"
		/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <script type="text/javascript" src="static/scripts/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="static/scripts/jquery.imgareaselect.pack.js"
	></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.2.0/json2html.min.js"></script>
	<title>EY Validator</title>
  </head>

  <body>
			<div class="upperbar">
				</div>
	  <div>
		<!-- <img src="static/img/eylogo.png" id="logo" />
	  </div> -->
    <div class="container">
				<div class="row">
					<div class="mycol1 underImage">
						<div class="balk">
							<form id="back" action="/page" method="post">
								<input type="hidden" name="filename" value="{{ filename }}" class="btnfile">
								<input type="hidden" class="pag" name="pagenum" value="{{ prevnumber }}" required>
								<input type="submit" value="<<<" />
							</form>
							<form id="forward" action="/page" method="post">
								<input type="hidden" name="filename" value="{{ filename }}" class="btnfile">
								<input type="hidden" class="pag" name="pagenum" value="{{ nextnumber }}" required>
								<input type="submit" value=">>>" />
							</form>
						</div>
						<img id="oik" src="{{ img }}" />
					</div>
					<div class="mycol2">
						<div class="resultblock">
							<h3 style=" font-weight: 600;">Result</h3>
							<p id="data">
							
							</p>
						</div>
						<!-- Deze form is onzichtbaar en wordt gevuld met de waardes van de selectie on submit -->
						<form id="ajax" method="post">
								<input type="hidden" name="x1" id="x1" value="" />
								<input type="hidden" name="y1" id="y1" value="" />
								<input type="hidden" name="x2" id="x2" value="" />
								<input type="hidden" name="y2" id="y2" value="" />
								<input type="hidden" name="imgsrc" id="imgsrc" value="{{ img }}" />
								<input type="submit" name="submit" value="Submit" class="submitbtn" />
						</form>
					</div>
				</div>
			</div>
    <script>
      $(document).ready(function() {
        $("#oik").imgAreaSelect({
          handles: true,
          movable: true,
					resizable: true,
					imageWidth: 827,
          // Hier worden de coordinaten aan de onzichtbare form boven meegegeven
          onSelectEnd: function(img, selection) {
            $('input[name="x1"]').val(selection.x1);
            $('input[name="y1"]').val(selection.y1);
            $('input[name="x2"]').val(selection.x2);
            $('input[name="y2"]').val(selection.y2);
          }
        });
      });
	</script>

	<script>
	document.addEventListener('DOMContentLoaded', () => {
		document.querySelector("#ajax").onsubmit = function() {
			let coord1 = document.querySelector("#x1").value;
			let coord2 = document.querySelector("#y1").value;
			let coord3 = document.querySelector("#x2").value;
			let coord4 = document.querySelector("#y2").value;
			let imgsrc = document.querySelector("#imgsrc").value;
			// set up ajax request
			const request = new XMLHttpRequest();
			request.open('POST', '/image');

			// if data is recieved, check the awnser
			request.onload = () => {
				const data = JSON.parse(request.responseText);

				if (data.success) {
					console.log('true');
					document.getElementById("data").innerHTML = "";
					document.getElementById("data").innerHTML += "<ul id=\"list\">";
					for (i in data.records) {
						document.getElementById("data").innerHTML += "<li>" + data.records[i] + "</li>";
					}
					document.getElementById("data").innerHTML += "</ul>";
					document.getElementById("data").innerHTML += "<span class='sums'>Original sum: " + data.totalparsed + "</span></br>";
					document.getElementById("data").innerHTML += "<span class='sums'>Calculated sum: " + data.total + "</span></br>";
				}
				else {
					console.log('false');
				}
			}

			// send AJAX with data
			const data = new FormData();
			data.append('x1', coord1);
			data.append('y1', coord2);
			data.append('x2', coord3);
			data.append('y2', coord4);
			data.append('imgsrc', imgsrc);
			request.send(data);
			// reject autoload
			let divy = document.createElement("div");
			divy.class = 'boxie'

			divy.style = `top: ${(parseInt(coord2)+35)}px; left:${(parseInt(coord1))}px ;padding-top: ${parseInt(coord4) - parseInt(coord2)-5}px; padding-left: ${parseInt(coord3) - parseInt(coord1)-5}px;position: absolute;z-index: 1;border-width: 5px;border-style: solid;border-color: yellow;`;
			document.querySelector(".underImage").appendChild(divy)
			return false;
		}
	});
	</script>
  </body>
</html>
